<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.hushuai.sakura.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.hushuai.sakura.dto" />
        <option name="javaModelPath" value="E:\hdzq\sakura\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="sakura" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddEqualHashCode" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="sakura">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.hushuai.sakura.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.hushuai.sakura.dto" />
                  <option name="javaModelPath" value="E:\hdzq\sakura\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="com.hushuai.sakura.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.hushuai.sakura.service.serviceImpl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="E:\hdzq\sakura\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="sakura:baseWord">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="BaseWord" />
                  <option name="moduleName" value="sakura" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="E:\hdzq\sakura\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>